.venv/Include
.venv/Scripts
.venv/share
.venv/pyvenv.cfg
.venv/Lib/site-packages/*
!.venv/Lib/site-packages/MOTLib/
!.venv/Lib/site-packages/MOTLib/AnMOT.py
.venv/Lib/site-packages/MOTLib/__pycache__/AnMOT.cpython-313.pyc
